#!/bin/bash

# General
alias cl="clear"
alias l="ls -l"

# Apache and MySQL aliases
alias apache.start="sudo apachectl start"
alias apache.stop="sudo apachectl stop"
alias apache.restart="sudo apachectl restart"
alias mysql.start="brew services start mysql"
alias mysql.stop="brew services stop mysql"
alias mysql.restart="brew services restart mysql"

# Npm aliases
# TODO: Do I need it?
alias ni="npm install"
alias nr="npm run"
alias ns="npm start"
alias nf="npm cache clean && rm -rf node_modules && npm install"

# yarn aliases
alias y="yarn"
alias yi="yarn"
alias yd="yarn dev"
alias yt="yarn test"
alias ys="yarn start"
alias yb="yarn build"
alias yw="yarn watch"

# Kubernetes aliases
alias k="kubectl"
alias kl="kubectl logs"

# Typos
alias eixt="exit"

# Set default Python 3.7 and pip3 to path
alias python='python3'
alias pip='pip3'

# Get week number
alias week='date +%V'

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver3.opendns.com" # See https://go.abranhe.com/find-ip
# TODO: Not working as expected
alias localip="sudo ifconfig | grep -Eo 'inet (addr:)?([0-9]*\\.){3}[0-9]*' | grep -Eo '([0-9]*\\.){3}[0-9]*' | grep -v '127.0.0.1'"

# vhosts
alias hosts='sudo vim /etc/hosts'

# copy working directory
alias cwd='pwd | tr -d "\r\n" | xclip -selection clipboard'

# copy file interactive
alias cp='cp -i'

# move file interactive
alias mv='mv -i'

# Docker
alias d='docker $*'
alias d-c='docker-compose $*'
alias dlogin="aws --profile default ecr get-login-password --region us-east-2 | docker login --username AWS --password-stdin 105713698156.dkr.ecr.us-east-2.amazonaws.com 2> /dev/null"

# Git
alias gac='git add -A && git commit -m'
alias gc='git clone'

# Open simulator
alias simulator="open /Applications/Xcode.app/Contents/Developer/Applications/Simulator.app"

# Chrome
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'

# Kill all the tabs in Chrome to free up memory
# Read: https://go.abranhe.com/kill-chrome-tabs
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete 2>/dev/null"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine.
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Activity Monitor
alias activity='open /Applications/Utilities/Activity\ Monitor.app'

# https://apple.stackexchange.com/a/15322/258558
alias copy="pbcopy"

# Remove
alias fiu="ssh -t chern433@fiu \"source ~/.bashrc; bash -l\""

# PhpStorm
alias phpstorm="open -na \"PhpStorm.app\" --args \"$@\""

# Draw.io
alias draw.io='/Applications/draw.io.app/Contents/MacOS/draw.io'
