# Mac
.DS_Store

# VSCode
.vscode/

# JetBrain
.idea/

# npm
npm-debug.log

# yarn
yarn-error.log

# vim
*.swp

# git
*.patch

# Extra
*~
*.wip.*
*.bak.*
*.tmp.*
.history
tmp/

# Draw.io
*.drawio.*

.git_*

# Prompting Rules
.prompting