[submodule "dotfiles-work"]
	path = dotfiles-work
	url = git@github.com:abrahamcalf/dotfiles-work.git
[submodule "dotfiles-personal"]
	path = dotfiles-personal
	url = git@github.com:abrahamcalf/dotfiles-personal.git
