# Files/Folders
.android
.atom
.bash_sessions
.buckaroo
.bundle
.cache
.cocoapods
.config
.docker
.expo
.gem
.hyper_plugins
.idlerc
.ionic
.netlify
.node-gyp
.now
.npm
.oracle_jre_usage
.rncache
.ssh
.tooling
.Trash
.travis
.vim
.vscode
.xo-cache
.zoomus
Applications
bitbucket
Desktop
Documents
Downloads
github
Library
Movies
Music
Pictures
Public
school
.babel.json
.bash_history
.CFUserTextEncoding
.bash_sessions
.gitconfig
.hyper.js
.oh-my-zsh
.npm-packages
.npmrc
.python_history
.viminfo
.vimrc
.Xauthority
.yarnrc
.zcompdump-abraham-5.3
.zprofile
.zsh_history

# System
.DS_Store